@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-viewport-max: 90;
}

@layer components {
  .container-max {
    max-width: calc(var(--site-viewport-max) * 1rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container-max {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .container-max {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .gradient-color {
    @apply bg-gradient-to-br from-second-dark to-second-light dark:bg-gradient-to-br dark:from-second-light dark:to-primary-light;
  }

  .service-card {
    @apply flex-1 text-center text-primary-light shadow-lg p-12 rounded-xl my-10 dark:text-primary-dark;
  }

  .text-color {
    @apply text-primary-dark dark:text-primary-light;
  }

  .timeline {
    @apply border-l-4 border-primary-dark my-8 ml-6 py-12 space-y-14 dark:border-primary-light;
  }

  .dot {
    @apply absolute top-7 -left-5 bg-second-light h-9 w-9 rounded-full border-4 border-second-dark dark:border-primary-light;
  }

  .timeline-date {
    @apply text-xs text-color font-bold opacity-60 tracking-widest;
  }

  .timeline-company {
    @apply text-3xl text-second-light font-semibold tracking-wider mb-2;
  }

  .timeline-title {
    @apply text-xl text-color font-semibold tracking-wider mb-2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url("../../public/fonts/Burtons.otf");
}

@font-face {
  font-family: "montserrat";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "tomorrow";
  src: url("../../public/fonts/Tomorrow-Medium.ttf");
}