@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-color {
    @apply bg-gradient-to-br from-second-dark to-second-light dark:bg-gradient-to-br dark:from-second-light dark:to-primary-light;
  }
  .service-card {
    @apply flex-1 text-center text-primary-light shadow-lg p-12 rounded-xl my-10 dark:text-primary-dark;
  }
  .text-color {
    @apply text-primary-dark dark:text-primary-light;
  }
  .timeline {
    @apply border-l-4 border-primary-dark my-8 ml-6 py-12 space-y-14 dark:border-primary-light;
  }
  .dot {
    @apply absolute top-7 -left-5 bg-second-light h-9 w-9 rounded-full border-4 border-second-dark dark:border-primary-light;
  }
  .timeline-date {
    @apply text-xs text-color font-bold opacity-60 tracking-widest;
  }
  .timeline-company {
    @apply text-3xl text-second-light font-semibold tracking-wider mb-2;
  }
  .timeline-title {
    @apply text-xl text-color font-semibold tracking-wider mb-2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
